*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: linear-gradient(135deg, gray, white);
    background-repeat: no-repeat;
    height: 100vh;
}
.game{
    text-align: center;
    font-size: 3vw;
    padding: 6px;
    margin: 15px 200px;
}
.game .title{
    background-color:blue ;
    font-weight: 600px;
    font-size: 5vw;
    color: white;
    margin: 20px 120px;
    border-radius: 10px;
    position: relative;
}
.game .title span{
    letter-spacing: 30px;
    color: yellow;
}
.game .title .win {
    position: absolute;
}
.game .title .win span {
    color: yellow;
    font-size: 3.9vw;
   
}
.game .title .o {
    right: 30px;
    top: -10px;
}
.game .title .x {
    left: 30px;
    top: -10px;
}
/* boxes */
.boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr
);
    flex-wrap: wrap;
    margin: 0px 300px;
}
.boxes .item{
    background-color:blue;
    height: auto; 
    aspect-ratio: 1/1;
    margin: 4px;
    font-size: 8vw;    
    color: white;
    font-weight: 700;
    text-align: center;
    flex: 1 1 calc(25.33% - 5px); 
    transition: 0.3s ease;
}
.boxes .item:hover{
    background-color:black;
    color: white;
    cursor: pointer;
}
button{
    padding: 10px 50px;
    font-weight: 600;
    background-color: blue;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: 0.2s ease;
    cursor: pointer;
}
button:hover{
    background-color:black;
    color: white;
}


